html {
    --checked-color: #097FF5;
  
    --bg-color: #e8e8e8;
  }
  
  body{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
  }
  
  @font-face {
      font-family: 'Gotham';
      src: url('../js/Gotham-Book.eot');
      src: url('../js/Gotham-Book.eot?#iefix') format('embedded-opentype'),
          url('../js/Gotham-Book.woff2') format('woff2'),
          url('../js/Gotham-Book.woff') format('woff'),
          url('../js/Gotham-Book.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }
  
  @font-face {
      font-family: 'Commuters Sans';
      src: local('../js/Commuters Sans Regular'), local('Commuters-Sans-Regular'),
          url('../js/CommutersSans-Regular.woff2') format('woff2'),
          url('../js/CommutersSans-Regular.woff') format('woff'),
          url('../js/CommutersSans-Regular.ttf') format('truetype');
      font-weight: 400;
      font-style: normal;
    }
  
    #background-video {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -3;
    }
  
  .main-section{
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
   }
  
  
  
  .p-control p{
      font: normal normal normal 25px/72px "Gotham";
      letter-spacing: 1.25px;
      color: #952a2a;
  }
  
  .index h1{
      font: normal normal normal 65px/72px "Commuters Sans";
      letter-spacing: 3.25px;
      color: #FFFFFF;
      margin-top: -5%;
  }
  
  .line-bar{
      width: 13%;
      height: 0.7em;
      background: #FFFFFF;
      opacity: 1;
      border-radius: 50px;
  }
  
  .right-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      width: 30%;
      height: 1050px;
      right: 35%;
      top: 5%;
      background: rgba(255, 255, 255, 0.10) 0% 0% no-repeat padding-box;
      border: 1px solid #707070;
      border-radius: 85px;
      backdrop-filter: blur(30px);
      -webkit-backdrop-filter: blur(30px);
      z-index: 999;
  }
  
  .right-control{
      width: 90%;
      display: flex;
      flex-direction: column;
      position: relative;
  }
  
  .right-control h2{
      text-align: center;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
      font: 1.5em "Rubik";
  }
  .form-control{
      display: flex;
      align-items: flex-end;
      margin-left: 2%;
  }
  
  .side-bar{
      width: 7px;
      height: 3.0em;
      background: #097FF5 0% 0% no-repeat padding-box;
      opacity: 1;
  }
  
  .input-text{
      background: #F6F6F6 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 10px;
      font: normal normal 200 20px/25px "Commuters Sans";
      opacity: 1;
      margin-bottom: 0%;
      text-align: left;
      letter-spacing: 0px;
      color: #585858;
      text-transform: capitalize;
      opacity: 1;
      width: 90%;
      height: 2.5em;
      outline: none;
      margin-top: 0%;
      border: none;
      position: relative;
      margin-top: 5%;
      padding-left: 10%;
  }
  
  a{
      text-decoration: none;
      width: 40%;
  }
  
  .register{
      display: flex;
      width: 90%;
      margin-left: -10%;
      padding-right: 3em;
      text-align: left;
      font: normal normal normal 14px/9px "Commuters Sans";
      letter-spacing: 0.42px;
      color: #ffffff;
      opacity: 1;
  }
  
  .register2{
    margin-left: -20%;
  }
  
  .register-container{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    margin-left: -5%;
  }
  
  .register:hover{
      color: #bcd2f0;
      transition: 0.2s ease;
      cursor: pointer;
  }
  
  .input-submit{
    margin-top: 2%;
    margin-left: 31%;
    background: #F6F6F6 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 25px/31px 'Commuters Sans';
    letter-spacing: 0px;
    color: #0E4597;
    text-transform: uppercase;
    opacity: 1;
    padding: 0.4em 0.6em;
    text-transform: uppercase;
    border: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  
  }
  
  .input-submit:after {
      content: '';
      position: absolute;
      z-index: -1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    
    .input-submit:before {
      font-family: 'Open Sans';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      position: relative;
      -webkit-font-smoothing: antialiased;
    }
    
    .input-submit:hover {
      background: #FFFFFF;
      color: #097FF5;
      transition: 0.5s ease;
      cursor: pointer;
    }
    
    .input-submit:active {
      background: #FFFFFF;
      top: 2px;
    }
    
    .input-submit:before {
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      line-height: 3;
      font-size: 140%;
      width: 60px;
    }
  
  .footer-icons{
      position: absolute;
      top: 95%;
      right: 3%;
      cursor: pointer;
  }
  
  .footer-icons img:hover{
      opacity: 0.5;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
  }
  
  .fade-in-image {
      animation: fadeIn 3s;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
  }
  
  @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
  
  .radio-control{
    padding-left: 1em;
    width: 86%;
  }
  
  
  input[type="radio"] {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.5rem;
  }
  
  .accent {
    accent-color: var(--checked-color);
  }
  