body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.logo{
    max-width: 10%;
}

p{
    font: normal normal 200 20px/25px "Open Sans";
    letter-spacing: 0px;
    color: #585858;
    text-transform: capitalize;
    opacity: 1;
    pointer-events: none;
    padding: 2% 0 2% 3%;
}

img{
    max-width: 100%;
    overflow: hidden;
}

.img-div img{
    position: absolute;
    max-width: 13%;
    top: 1.5%;
}

.img-div img:hover{
    opacity: 0.7;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}

input[type="file"] {
    opacity: 0;
    cursor: pointer;
}

input{
    font: normal normal 200 20px/25px 'Open Sans';
    letter-spacing: 0px;
    color: #585858;
    opacity: 1;
    padding: 20px 0;
    width: calc(100%-15px);
    padding-left: 15px;
}


h1{
    font: normal normal normal 40px/50px 'Open Sans';
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}

h2{
    font: normal normal 200 16px/23px 'Open Sans';
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: -5%;
}

.container-title{
    margin-top: 10%;
}

.container-title h2{

}
.main-container{
    width: 100%;
    height: 100%;
    display: flex;
}

.content-container{
    margin-left: 5%;
}
.left-container{
    width: 50%;
    position: relative;
}

.form-container{
    margin-top: 15%;
}

.img-container{
    width: 50%;
    align-self: flex-end;
    
}


.container-icons{
    position: absolute;
}

input::placeholder{
    text-align: left;
    font: normal normal 200 20px/25px 'Open Sans';
    letter-spacing: 0px;
    color: #585858;
    opacity: 1;
}

input:focus{
    font: normal normal 200 20px/25px 'Open Sans';
    letter-spacing: 0px;
    color: #585858;
    opacity: 1;
}

.input-text {
    background: #F6F6F6 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
    width: 75%;
    height: 50px;
    outline: none;
    margin-top: 2%;
    border: none;
    position: relative;
}

.input-text h3{
    position: absolute;
    left: 2.8%;
    top: 50%;
    transform: translate(-0%,-50%);
    -webkit-transform: translate(-0%,-50%);
    -moz-transform: translate(-0%,-50%);
    -ms-transform: translate(-0%,-50%);
    font: normal normal 200 20px/25px "Open Sans";
    letter-spacing: 0px;
    color: #585858;
    text-transform: capitalize;
    opacity: 1;
    top: 0%;
    pointer-events: none;
    padding-top: 10px;
}

.input-text:hover{
    outline: none;
}

.input-photo{
    opacity: 0;
    width: 100%;
    height: 100%;
  
}


.input-photo:focus{
    opacity: 0;
    width: 100%;
    height: 100%;
}


.categories{
    background: #F6F6F6 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
    width: 75%;
    height: 50px;
    position: relative;
}

.photo-button{
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translate(-15%,-50%);
    -webkit-transform: translate(-15%,-50%);
    -moz-transform: translate(-15%,-50%);
    -ms-transform: translate(-15%,-50%);
    height: 2.3em;
    width: 5em;
    opacity: 1;
    pointer-events: none;
    margin-top: -14px;
}

.photo-button img {
    margin-left: -15px;
}

.categories-button{
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translate(-15%,-50%);
    -webkit-transform: translate(-15%,-50%);
    -moz-transform: translate(-15%,-50%);
    -ms-transform: translate(-15%,-50%);
    height: 2.3em;
    width: 5em;
    border-radius: 50%;
    opacity: 1;
    margin-top: -14px;
}

.categories-button img {
    margin-left: -15px;
}


.submit-button{
    float: right;
    margin-top: 1.5%;
    width: 12%;
    height: 90%;
    background: #F6F6F6 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px 10px 15px;
}

.submit-button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 1s ease;
}

.container-icons{
    position: absolute;
    top: 90%;
    width: 100%;
}

.fade-in-image {
    animation: fadeIn 3s;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.line-container{
    margin-left: -4%;
}

.footer-icons{
    margin-left: 2%;
    margin-top: 1%;
}


.custom-select {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-0%,-50%);
    -webkit-transform: translate(-0%,-50%);
    -moz-transform: translate(-0%,-50%);
    -ms-transform: translate(-0%,-50%);
    font-family: Arial;
    z-index: 999;
    width: 100%;
  }
  


  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
    
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #585858;
    padding: 10px 16px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
    font: normal normal 200 20px/25px 'Open Sans';

  }
  
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background: #F6F6F6 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  @media only screen and (max-width: 1400px){
.form-container{
    margin-top: 8%;
}

  }
