
p{
    font: normal normal 200 20px/25px "Open Sans";
    letter-spacing: 0px;
    color: #585858;
    text-transform: capitalize;
    opacity: 1;
    pointer-events: none;
    padding: 2% 0 2% 3%;
}

h1{
    font: normal normal normal 40px/50px 'Open Sans';
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}

.tabela{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    border: 2px solid #0A57A3;
    border-radius: 0px;
    background-color: white;
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: #0E4597;
    color: white;
    text-align: center;
}

table, tr, td{
    border: 2px solid #0A57A3;
    border-collapse: collapse;
    background-color: white;
    padding: 10px;
    text-align: center;
}

.excluir{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    border: 2px solid rgb(143, 37, 29);
    border-radius: 5px;
    background-color: white;
    cursor: pointer; 
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: rgb(201, 128, 128);
}

.excluir a {
    color: rgb(161, 22, 22);
    text-decoration: none;
}

.editar{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    border: 2px solid #0A57A3;
    border-radius: 5px;
    cursor: pointer; 
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: #0E4597;
}

.editar a{
    color: #fafafa;
    text-decoration: none;
}

.chamada-anuncio{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    border: 2px solid #0A57A3;
    border-radius: 5px;
    background-color: #0E4597;
    cursor: pointer;
    background-color: #0E4597;
}

.chamada-anuncio a {
    color: #fafafa;
    text-decoration: none;
}