*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif ;
    max-width: 100%;
}
#logo {
    width: 200px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: 0;
    display: flex;
    justify-content: left;

}
#logo:hover{
    transform: scale(1.1);

}
header {
    background-color: #097FF5;
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 2px #2967d1;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;


}
form {
    display: inline;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 6px;
    width: 300px;
    box-shadow: 0 1px 2px #838282;
}

button[type="submit"] {
    padding: 10px;
    background-color: #0e479b;
    border: 1px;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);

}
form button[type="submit"] {
    margin-left: 1px;
}
.header-container {
    display: flex;
    align-items: center;
}

.logo-container {
    margin-right: auto;
}

.signup-container {
    margin-left: auto;
    padding-left: 20px;
}

.signup-btn {
    padding: 10px 20px;
    background-color: #0e479b;
    border: 1px;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;

}

.signup-btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    color: #0e479b;
    background-color: #ffffff;
    transition: 1s ease;
}
.categorias {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 10px;
}
.icone{
    width: 20px;
}
.nome-categoria{
    text-decoration: none;
}
.nome-categoria:hover{
    transform: scale(1.1);
}
.categorias li {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.categorias li i {
    font-size: 24px;
    margin-right: 10px;
}

.card-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    max-width: 1200px;
    justify-content: center;
}
#produtos {
    width: 800px;
    background-color: rgba(255, 255, 255, 0.63);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    

}

.card-content {
    text-align: center;
    margin: 200px;
}
.imagemproduto{
    width: 200px;
}
.nome-produto {
    font-size: 24px;
    font-weight: bold;
    color: #0046ff;
}
.descricao-produto{
    font-size: 16px;
    margin-top: 8px;
    color: #0046ff;
}
.preco-produto{
    font-size: 18px;
    margin-top: 8px;
    color: #0046ff;

}
.botao-comprar {
    background-color: #0e479b;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.botao-comprar:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}
.linkproduto{
    text-decoration: none;
}
#card-content:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    
}

.item{
    margin-left: 10px;
}

.div-container{
    margin-left: 320px;
    margin-top: 40px;
}

