.logo{
    text-align: center;
    font-size: 30px;
}

.sair{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    border: 2px solid rgb(128, 128, 196);
    border-radius: 5px;
    background-color: white;
    cursor: pointer; 
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: antiquewhite;
}

.sair a{
    text-decoration: none;
    color: blue;
}

.excluir{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    border: 2px solid rgb(143, 37, 29);
    border-radius: 5px;
    background-color: white;
    cursor: pointer; 
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: rgb(201, 128, 128);
}

.excluir a {
    color: rgb(161, 22, 22);
    text-decoration: none;
}

.editar{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    border: 2px solid rgb(73, 143, 71);
    border-radius: 5px;
    background-color: white;
    cursor: pointer; 
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: rgb(34, 100, 72);
}

.editar a{
    color: rgb(29, 179, 96);
    text-decoration: none;
}

.tabela{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0px;
    background-color: white;
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: rgb(19, 20, 12);
    color: white;
}

.chamada-anuncio{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    border: 2px solid rgb(118, 119, 34);
    border-radius: 5px;
    background-color: rgb(200, 228, 44);
    cursor: pointer;
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: rgb(19, 20, 12);
    margin-left: 900px;
}

.chamada-anuncio a {
    color: orange;
    text-decoration: none;
}

.entrada{
    width: 170px;
    height: 23px;
    border: none;
    background-color: #EEE;
    margin-left: 835px;
    margin-top: 10px;
}

.pesquisar{
    width: 75px;
    height: 24px;
    border: 1;
    background-color: #EEE;
    cursor: pointer;
}

.texto-usuario{
    text-align: center;
    font-size: 20px;
    margin: 0px;

}

.texto-produtos{
    text-align: center;
    font-size: 20px;
    margin: 0px;
}

table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
}

body{
    background-color: silver;
}

#tabela1{
    margin-left: 550px;
    margin-top: 10px;
}

#tabela2{
    margin-left: 725px;
    margin-top: 10px;
}

.editarr{
    margin-left: 100px;
}
